body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.slide {
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.gray {
  background-color: gray;
}

.black {
  background-color: black;
}

.pink {
  background-color: pink;
}